@charset "UTF-8";
/* CSS Document */

*{box-sizing: border-box;}

body{
	background-color: #E6F7FF;
	font-family: 'Arimo', sans-serif;
}

main{margin: 30px auto;}

h1{
	font-weight: 700;
	font-size: 30px;
	line-height: normal;
}

h2{
	font-weight: 900;
	font-size: 24px;
	line-height: normal;
}

.about-header, .works-header, .contact-header{
	text-align: center;
	text-decoration: underline;
}

p{
	font-size: 18px;
	line-height: normal;
}

.about-bio, .contact-info{
	text-align: center;
	margin: 0 15px;
}

a{
	font-size: 18px;
	color: #1B80B3;
}

a:hover, a:focus{
	color: #5062D4;
	text-decoration: none;
	transition-duration: 0.3s;
}

a:visited{color: #6EB2D4;}
a:active{color: #0F4966;}

.page-header{
	display: flex;
	width: 100%;
	padding: 20px;
	border-bottom: dashed;
}

.page-header__item{flex: 0 1 150px;}

.page-header__item:last-child{
	width: 100px;
	flex-grow: 1;
	text-align: right;
}

.navigation-list{
	list-style-type: none;
	padding: 25px 0;
}

.navigation-list li{
	display: inline-block;
	margin-left: 15px;
	font-size: 20px;
}

.page-footer{
	margin: 50px;
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.social-media__item{text-decoration: none;}

.profile{max-width: 700px;}

.profile_portrait{
	float: left;
	width: 250px;
	margin-right: 40px;
	border-radius: 50%;
}

table{margin: 40px auto;}
th, td{font-size: 16px;}

.skill, .year, .experience{font-weight: 900;}

.skill, .year, .experience, .skill-one, .year-one, .skill-two,
.year-two, .skill-three, .year-three, .experience-one, .experience-two, .experience-three{
	padding: 10px;
	text-align: center;
	border-width: thin;
}

.skill, .year{border-right: dotted;}

.skill-one, .year-one, .skill-two, .year-two, .skill-three, .year-three{
	border-top: dotted;
	border-right: dotted;
}

.experience-one, .experience-two, .experience-three{border-top: dotted;}

#contact-form{margin: auto 0;}

.contact-label, .contact-input{padding: 10px 5px;}

.contact-label{text-align: right;}

.contact-button{
	display: flex;
	margin: -40px 0;
	align-items: center;
	justify-content: center;
}

.button{
	display: flex;
	margin: 50px 0;
	align-items: center;
	justify-content: center;
}

button, .button{
	border: none;
	font-family: inherit;
	background-color: #81C2C7;
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	transition: 0.5s opacity;
}

button:hover, button:focus, .button:hover, .button:focus{
	cursor: pointer;
	opacity: 0.8;
}

.button:hover, .button:focus, .button:visited{color: var(--button-text);}

@keyframes bounce{
	0%{
		transform: translate(0px, 0px);
	}
	50%{
		transform: translate(0px, 10px);
	}
	100%{
		transform: translate(0px, 0px);
	}
}

.doll{
	width: 100px;
	display: block;
	margin: auto;
}

.doll:hover, .doll:focus{animation: 2s bounce reverse infinite linear;}

.grid{
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-gap: 10px;
	justify-content: center;
	align-content: center;
}

.grid__item{
	background-color: #C5D4E8;
	padding: 10px;
}

.work-description{font-size: 14px;}

@media all and (max-width: 500px){
	.grid{grid-template-columns: 1fr;}
}

@media all and (min-width: 500px) and (max-width: 750px){
	.grid{grid-template-columns: 1fr 1fr;}
}

@media all and (max-width: 750px) {
	.grid {grid-gap: 10px;}
	.grid__item:last-child{
		grid-column: auto / auto;
		grid-row: auto / auto;
	}

	h2{font-size: 22px;}
}
