@charset "UTF-8";
/* CSS Document */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
    /* Colors */
    --font-color: #1B375E;
    --button-color: #FFF;

    /* Display */
    --flex-display: flex;

    /* Alignment */
    --center-alignment: center;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

body {
    background-color: #E6F7FF;
    font-family: 'Arimo', sans-serif;
}

main { margin: 30px auto; }

h1, h2, h3 {
    line-height: normal;
    color: var(--font-color);
    text-decoration: underline;
}

h1 {
    font-weight: 700;
    font-size: 30px;
}

h2 {
    font-weight: 900;
    font-size: 24px;
}

h3 {
    font-weight: 1100;
    font-size: 20px;
    text-align: var(--center-alignment);
}

.about-header, .works-header, .contact-header { text-align: var(--center-alignment); }

p, .skills-list {
    font-size: 18px;
    line-height: normal;
    color: var(--font-color);
}

.about-bio, .contact-info {
    text-align: var(--center-alignment);
    margin: 0 15px;
}

.page-header {
    display: -webkit-box;
    display: -ms-flex;
    display: var(--flex-display);
    width: 100%;
    padding: 20px;
    border-bottom: medium dashed #8BB2E8;
}

.page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 150px;
    flex: 0 1 150px; 
}

.page-header__item:last-child {
    width: 100px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
    padding: 25px 0;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
}

a:link { font-size: 18px;}

a:link, a:visited { color: #1B80B3; }

a:hover, a:focus {
    color: #0D4059;
    text-decoration: none;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

a:active {
    color: #0D4059;
    text-decoration: none;
}

footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flex;
    display: var(--flex-display);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: var(--center-alignment);
}

.page-footer { margin-top: 15%; }

.page-footer-contact { margin-top: 4%; }

.page-footer-about { margin-bottom: 2%; }

.page-footer-work { margin: 4% 0 1% 0; }

.social-media { height: 30px; }

.social-media__item { text-decoration: none; }

.social-media__img { width: 24px; }

.social-media__img:hover {
    transform: scale(1.5);
    transition-duration: 0.5s;
    margin: 10px;
    text-decoration: none;
}

.profile { max-width: 700px; }

.profile_portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.get-to-know-me, .my-background, .why-web-development { display: block; }

.my-background { margin-bottom: 40px; }

.about_portrait {
    float: right;
    width: 300px;
    margin: 0 40px;
}

.about-bio {
    text-align: justify;
    margin-bottom: 15px;
}

.about-why { margin-bottom: 30px; }

@supports (display: grid) {
    .skills-grid {
        display: grid;
        grid-template-columns: 250px 250px;
        grid-gap: 150px;
        margin: 30px 0;
        justify-content: var(--center-alignment);
        align-content: var(--center-alignment);
    }
    
    .skills-list {
        list-style-type: none;
        padding-left: 10px;
    }
}

.work-buttons {
    display: -webkit-box;
    display: -ms-flex;
    display: var(--flex-display);
    justify-content: space-evenly;
}

#button, #work-button, .contact-button {
    display: -webkit-box;
    display: -ms-flex;
    display: var(--flex-display);
    align-content: var(--center-alignment);
    justify-content: var(--center-alignment);
}

#button, #work-button {
    border: none;
    font-family: inherit;
    color: var(--button-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    -webkit-transition: 0.5 opacity;
    -o-transition: 0.5 opacity;
    transition: 0.5 opacity;
}

.contact-button { margin: -40px 0; }

#button {
    margin: 50px;
    background-color: #81C2C7;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

#work-button {
    font-size: 16px;
    background-color: #99BCCC;
    border-bottom: 2px solid #596069;
}

#button:hover, #button:focus, #work-button:hover, #work-button:focus {
    cursor: pointer;
    opacity: 0.8;
    color: var(--button-color);
}

#button:visited, #work-button:visited { color: var(--button-color); }

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    50% {
        -webkit-transform: translate(0px, 100px);
        transform: translate(0px, 100px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translate(0px, 0px); 
        transform: translate(0px, 0px); 
    }

    50% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 10px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

.lanterns {
    width: 350px;
    display: block;
    margin: 0 auto;
}

.lanterns:hover, .lanterns:focus { animation: 2s bounce reverse infinite linear; }

/* start grid fallback */
.grid__item, .skills-list {
    display: inline-block;
    width: auto;
}
/* end grid fallback */

@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: 350px 350px 350px;
        grid-gap: 15px;
        margin: 30px 0;
        justify-content: var(--center-alignment);
        align-content: var(--center-alignment);
    }
    
    .grid__item {
        background-color: #BACEE8;
        text-align: var(--center-alignment);
        padding: 10px 10px 25px;
        margin: 15px;
        border-radius: 10px;
        box-shadow: 10px 10px 20px #1B375E;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    
    .website-image { width: 280px; }
    
    .description {
        font-size: 16px;
        margin-bottom: 30px;
    }
}

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid { grid-gap: 10px; }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h2 { font-size: 22px; }
}