@charset "UTF-8";

/* CSS Document */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
  /* Colors */
  --background-color: #E6F7FF;
  --font-color: #1B375E;
  --link-color: #1B80B3;
  --link-hover: #5062D4;
  --link-active: #0F4966;
  --button-color: #81C2C7;
  --button-text: #FFF;
  --grid-color: #C5D4E8;

  /* Text */
  --font-size: 18px;

  /* Alignment */
  --alignment: center;

  /* Displays */
  --flex-display: flex;
  --grid-display: grid;

  /* Table */
  --border: thin dotted;

  /* Grid */
  --grid-gap: 10px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: 'Arimo', sans-serif;
}

main { margin: 30px auto; }

h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: normal;
  color: var(--font-color);
}

h2 {
  font-weight: 900;
  font-size: 24px;
  text-decoration: underline;
  line-height: normal;
  color: var(--font-color);
}

.about-header, .works-header, .contact-header {
  text-align: var(--alignment);
  text-decoration: underline;
}

p {
  font-size: var(--font-size);
  line-height: normal;
  color: var(--font-color);
}

.about-bio, .contact-info {
  text-align: var(--alignment);
  margin: 0 15px;
}

a:link {
  font-size: var(--font-size);
  color: var(--link-color);
}

a:visited{color: var(--link-color);}

a:hover, a:focus {
  color: var(--link-hover);
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

a:active{
	color: var(--link-active);
	text-decoration: none;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: medium dashed #8BB2E8;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 150px;
  flex: 0 1 150px;
}

.page-header__item:last-child {
  width: 100px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
  padding: 25px 0;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  font-size: 20px;
}

.page-footer {
  margin: 50px 0 60px;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: var(--alignment);
  height: 50px;
}

.social-media { height: 30px; }

.social-media__item { text-decoration: none; }

.social-media__img { width: 24px; }

.social-media__img:hover {
  transform: scale(1.5);
	transition-duration: 0.5s;
	margin: 10px;
  text-decoration: none; 
}

.profile { max-width: 700px; }

.profile_portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.get-to-know-me, .my-background, .why-web-development{
  display: block;
}

.my-background{
  margin: 120px 0 50px;
}

.about_portrait {
  float: right;
  width: 300px;
  margin: 0 40px;
}

.about-bio{
  text-align: justify;
  margin: 0 40px 0 50px;
}

.about-why{
  margin-bottom: 50px;
}

.facts {
  padding-bottom: 50px;
}

table { margin: 20px auto; }

th, td {
  font-size: 16px;
  color: var(--font-color);
  padding: 10px;
  text-align: var(--alignment);
}

.skill, .year, .experience { font-weight: 900; }

.skill, .year { border-right: var(--border); }

.skill-one, .year-one, .skill-two, .year-two, .skill-three, .year-three {
  border-top: var(--border);
  border-right: var(--border);
}

.experience-one, .experience-two, .experience-three { border-top: var(--border); }

.contact-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -40px 0;
  align-items: var(--alignment);
  justify-content: var(--alignment);
}

#button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px;
  align-items: var(--alignment);
  justify-content: var(--alignment);
  border: none;
  font-family: inherit;
  background-color: var(--button-color);
  color: var(--button-text);
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

#work-button{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: var(--alignment);
  justify-content: var(--alignment);
  border: none;
  font-family: inherit;
  font-size: 16px;
  background-color: #A3AFBF;
  color: var(--button-text);
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 2px solid #596069;
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

/*Button Group*/
.work-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-evenly;
}

#button:hover, #button:focus, #work-button:hover, #work-button:focus{
  cursor: pointer;
  opacity: 0.8;
}

#button:hover, #button:focus, #button:visited, #work-button:hover, #work-button:focus, #work-button:visited { color: var(--button-text); }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 10px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.lanterns {
  width: 350px;
  display: block;
  margin: auto;
}

.lanterns:hover, .lanterns:focus { animation: 2s bounce reverse infinite linear; }

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: auto;
}
/* end grid fallback */

@supports (display: grid) {
  .grid{
		display: grid;
		grid-template-columns: 350px 350px 350px;
		grid-gap: 15px;
		margin: 30px 0;
		justify-content: center;
		align-content: center;
	}

	.grid__item{
		background-color: #C5D4E8;
		text-align: center;
		padding: 10px 10px 25px;
		margin: 15px;
		border-radius: 10px;
		box-shadow: 10px 10px 20px #1B375E;
	}

  /*
  .grid__item:hover{
		transform: scale(1.1);
		transition-duration: 0.5s;
		margin: 10px;
		padding: 10px 10px 25px;
		box-shadow: 0px 0px;
	}
  */

  .website-image{width: 280px;}

  .description{
    font-size: 16px;
    margin-bottom: 30px;
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid { grid-gap: var(--grid-gap); }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h2 { font-size: 22px; }
}
